.list-item {
  padding: 15px;
  margin: 10px 0;
  background: $light-white-gray;
  border-radius: 3px;
  .priority {
    margin-left: 20px;
  }

  &.completed {
    background: $darker-green;
    .task-name {
      text-decoration: line-through;
    }
  }
}

.btn {
  &.delete {
    float: right;
    position: relative;
    top: -6px;
    background-color: $btn-danger;
    padding: 6px 10px;
    color: $white;
  }

  &.sorting {
    margin-right: 10px;
    background-color: $btn-filter;
    color: $white;
  }
}

.complete-toggle {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 0 0;
}

.task-count {
  display: inline-block;
  width: 50%;
}