#home {
  max-width: 960px;
  margin: 0 auto;
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.flex-parent {
  @media(min-width: $breakpoint-768px) {
    display: flex;
  }
}

.todo-input-wrapper,
.list-display-wrapper {
  width: 100%;
  margin: 0 0 5% 0;
  @media(min-width: $breakpoint-768px) {
    width: 48%;
    margin: 0 1%;
  }
  border: 1px solid $light-black;
  border-radius: 3px;
  padding: 10px;
}

.list-display-wrapper {
  max-height: 290px;
  overflow-y: scroll;
}

.title-input-type {
  margin-top: 15px;
}