body {
  margin: 0;
  background: $app-bg;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  padding: 0;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 28px;
}

.btn {
  border: none;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  display: block;
  padding: 10px;
  font-size: 15px;
  margin: 10px 0;
}

.app-wrapper {
  padding: 20px;
}