//Colors
$white: #fff;
$light-black: #35414E;
$light-gray: #f2f2f2;
$light-green: #00ff1d;
$darker-green: #39d6a7;
$dark-blue: #1d00ff;
$light-white-gray: #e5dede;
$light-blue: #3ab7f2;
$red: #ff0000;

//Variables
$breakpoint-768px: 768px;
$breakpoint-1024px: 1024px;
$app-bg: $light-gray;
$btn-hover: $dark-blue;
$btn-danger: $red;
$btn-filter: $light-blue;