.add-task {
  display: block;
  margin: 10px 0;
  padding: 10px 30px;
  background-color: $btn-hover;
  color: $white;
}

.input-text {
  width: 100%;
  border-radius: 5px;
  background-color: $light-gray;
  border: 1px solid $light-black;
}